body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.avatar {
    width: 210px;
border-radius: 60px;
}
img:hover{border: 6px solid white;}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #084042;
    color: #fff;
    text-shadow: 7px 6px #000000;
    border-bottom: 6px solid #80A28A;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

@keyframes example {
  from {background-color: #084042;
  }
  to {background-color: yellow;
  color:red;
  text-shadow: 7px 6px #a0a0a0;}
}
.card{

  animation-name: example;
  animation-duration: 4s;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

